.create-trip-section {
    background-image: url("../images/createTrip-banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 70px 0 15px;
}

.create-trip-container {
    max-width: 450px;
    margin: 65px 10%;
    padding: 15px 30px;
    border-radius: 20px;
    background: #36312a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.form-title, .form-description {
    text-align: center;
}

.form-title {
    margin-bottom: 10px;
}

.form-description {
    margin-bottom: 20px;
    font-size: 14px;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.input-row > .ant-form-item {
    flex: 1 1 180px;
}

.submit-btn {
    width: 100%;
    border: 0;
    border-radius: 10px;
}

.ant-form-item {
    margin-bottom: 16px;
}

.ant-input, .ant-picker, .ant-select-selector {
    border-radius: 10px;
    border: none;
    color: #ffffff;
}

.ant-select-arrow {
    color: #ffffff;
}

.ant-select-selection-placeholder, .ant-input::placeholder, .ant-picker-input::placeholder {
    color: #bfbfbf;
}

.ant-input-textarea, .ant-input-textarea > textarea {
    border: none;
    border-radius: 10px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .create-trip-container {
        max-width: 90%;
        padding: 15px 20px;
    }
    .form-title, .form-description {
        font-size: smaller; 
    }
    .input-row {
        gap: 2px; 
    }
}

@media (max-width: 480px) {
    .create-trip-container {
        max-width: 100%; 
        padding: 15px 10px;
    }
    .submit-btn {
        font-size: 14px; 
    }
}
