.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 100px auto 0;
    border: 1px solid black;
    border-radius: 15px;
}

.left-container,
.right-container {
    display: flex;
}

.left-container {
    width: 50%;
}

.left-container img {
    width: 100%;
    border-radius: 15px;
}

.right-container {
    width: 45%;
    flex-direction: column;
    padding-right: 50px;
}

.title,
.description,
.button,
.signin-nav-link {
    text-align: center;
}

.title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 0.75rem;
    color: #666;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.login-form-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 4px 0;
    border-radius: 5px;
    background-color: var(--main-color);
    font-weight: 600;
    border: 1px solid red;
    margin-top: 20px;
}
.login-form-btn:hover{
    color: var(--main-color);
    background-color: white;
    transition: 0.5s ease;
}

.form-button {
    width: 100%;
    color: black;
    font-weight: 600;
    border: 1px solid red;
}

.signin-register-link {
    display: block;
    margin-top: 20px;
}

.signup-already-account {
    text-align: center;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
        margin-top: 110px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
        margin-top: 170px;
    }

    .left-container,
    .right-container {
        width: 50%;
    }

    .right-container {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-top: 100px;
    }

    .title {
        font-size: 1.4em;
    }

    .description {
        font-size: 0.8em;
    }

    .left-container,
    .right-container {
        width: 100%;
    }

    .right-container {
        margin-top: 20px;
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    .container {
        margin-top: 70px;
    }

    .title {
        font-size: 1em;
    }

    .description {
        font-size: 0.8em;
    }

    .input,
    .button {
        font-size: 1em;
    }

    .right-container {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .left-container img {
        border-radius: 8px;
    }

    .right-container {
        padding: 0 10px;
    }

    .input,
    .button {
        font-size: 15px;
    }

    .signin-register-link,
    .signin-nav-link {
        font-size: 0.9em;
    }
}