.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 6%;
    background-color: #111; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: background 0.5s;
}

.navbar-header.navbar-sticky {
    background: #000; 
    box-shadow: 0 0.1rem 0.1rem rgba(255, 255, 255, 0.15);
}

.navbar-logo {
    font-size: 25px;
    color: #FFF; 
    font-weight: bolder;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar-link, .navbar-login-button {
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
}

.navbar-login-button {
    padding: 5px 10px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-login-button:hover {
    background-color: #555;
    color: #FFF;
}

.navbar-menu-icon {
    font-size: 1.5rem;
    color: #FFF;
    cursor: pointer;
    display: none;
}

@media (max-width: 1024px) {
    .navbar-menu-icon {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 36px;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #111;
        flex-direction: column;
        padding-top: 60px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }

    .navbar.navbar-expanded {
        transform: translateX(0);
    }

    #nav-menu {
        padding: 15px 8%;
    }
}

@media (max-width: 768px) {
    .navbar-logo {
        font-size: 20px;
    }
}